html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


// Colors

$black: #000000;
$white: #ffffff;

$neutral-200: #555555;
$neutral-300: #2f2f2f;

$green: #00bc0e;